body {
    background-color: rgb(250, 240, 240);
}


.section-1 {

    width: 800px;
    padding-left: 100px;

    align-items: center;
    display: flex;
}

h1 {
    color: rgba(0, 0, 0, 0.699);
    font-weight: 700;
    font-size: 40px;

    margin: 0%;
}

p {
    color: gray;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 50px;
}

a {
    color: gold;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(red, purple);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.half-width {
    width: 50%;
    margin: 0%;
}

#hw-1 {
    padding-left: 58px;
    padding-top: 160px;
}

.section-2 {
    background-color: white;

    margin-top: 80px;
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-right: 25px;

}

#Abt-me {
    padding-top: 100px;
    padding-left: 250px;
}

#abt-me {
    padding-top: 100px;
    padding-right: 150px;
}

.recipie {
    padding: 0px 150px 20px 150px;
    color: rgba(0, 0, 0, 0.979);
    text-align: center;
    margin-top: 20px;
}

.section-3 {

    display: flex;
    margin-left: 80px;
    border: none;
    margin-bottom: 50px;

}

.recipie2 {
    color: black;
    margin: 0%;
    padding: 5px 5px 5px 5px;
}



.shadow {
    box-shadow: 5px 5px 5px 5px rgb(224, 216, 216);
    padding-left: 50px;
    padding-top: 20px;
    border-radius: 10px;
    height: 500px;
    background-color: white;


}

footer {
    margin-top: 100px;
}

.foot {
    height: 150px;
    padding-top: 30px;


    background-image: linear-gradient(rgb(51, 28, 28), rgb(31, 5, 5));
}

#div-2 {

    margin-left: 30px;
    width: 300px;
}

footer p {
    color: orangered;
    margin: 0%;
    text-align: center;

}

.section-4 {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 2px;
    display: flex;
    background-color: white;
    border-color: gray;
    border: 5px;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 80px;
}

.div-4-1 {
    padding-left: 150px;
    padding-right: 200px;

}

.div-4-2 {
    padding-right: 200px;
}

.div-4-3 {}